@model IEnumerable<Ogloszenia_drobne.Models.Advertisement>

@{
    ViewBag.Title = "Zgłoszone ogłoszenia";
}

<h2>Zgłoszone ogłoszenia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th>Akcja</th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>

                @using (Html.BeginForm("", "", FormMethod.Get))
                {
                    <input type="submit" value="Edytuj" formaction="/Advertisement/Edit/@item.AdvertisementId" />
                    <input type="submit" value="Usuń zgłoszenie" formaction="/Admin/DeleteReport/@item.AdvertisementId" />
                }


            </td>
        </tr>
    }

</table>